---
title: Contact
---

<h1>{{title}}</h1>
<form
    class="max-w-screen-sm mt-2"
    data-netlify="true"
    method="POST"
    name="contact"
    netlify-honeypot="bot-field">
    <p class="hidden">
        <label>
            Don’t fill this out if you're human: <input name="bot-field" />
        </label>
    </p>
    {% include 'input', label: "Name:", placeholder: "Your name", name:"name", required: true %}
    {% include 'input', label: "Your email:", placeholder: "email@email.com", name:"email", type: "email", required: true %}
    {% include 'input', label: "Message:", name:"message", placeholder: "Your message", type: "textarea", required: true %}
    <button class="btn w-full mt-2" type="submit">Send</button>
</form>
