
<section class="h-screen flex flex-col pt-2 lg:pt-7">
    <h1 class="text-accent uppercase font-display text-9xl text-center mb-2">{{site.title}}</h1>
    <p class="text-2xl text-center mb-4">Free & simple talking timer for exercise and yoga</p>
    <div data-firebase-auth-ui></div>
    <div data-firebase-auth-check></div>
</section>

