---
nav:
  - link: /settings
    label: Settings
  - link: /sequences
    label: Sequences
---
<!DOCTYPE html>
<html lang="en">
  {% render 'head', site: site, page: page, title: title %}
  <body class='bg-light text-dark font-body max-w-screen-md m-auto px-1 lg:px-3'>
    <div data-firebase></div>
    <div data-firebase-auth-check></div>
    {% render 'ie-notice'%}
    {% unless page.url == "/"%}
      {% render 'header', title: site.title, nav: nav %}
    {% endunless %}
    <main class="m-auto min-h-screen" id="main">
      {{content}}
    </main>
  </body>
</html>
