#firebaseui-auth-container button {
    background-color: #EE4266 !important;
}
#firebaseui-auth-container button[data-provider-id="anonymous"] {
    background-color: #020122 !important;
}

#firebaseui-auth-container button, .firebaseui-idp-text{
    @apply text-light font-body;
}

.firebaseui-idp-text {
    color: #F3FCF0 !important;
}

a.firebaseui-link {
    @apply text-accent;
}



/* #firebaseui-auth-container button.firebaseui-idp-google span{
    @apply text-light;

} */